body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.rem-item {
  margin-right: 20px;
}
.last-item {
  margin-right: 80px;
}
.navbar {
  border-radius: 0px 0px 20px 0px;
}
.navbar-brand {
  margin-left: 20px;
}

.mhl {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(21, 2, 2, 0.4);
}
.mhr {
  height: 70vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.mhl button {
  border: none;
  height: 40px;
  padding: 0 1.8rem;
  font-size: 0.9rem;

  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px #000;
  outline: none;
}

.mhl button:hover {
  box-shadow: 0 8px 6px -6px rgb(91, 91, 146);
}

.mhl span {
  color: blue;
}

footer {
  width: 100%;
  background-color: black;
  margin-top: auto;
}
footer p {
  margin: 0;
  text-align: center;
  color: white;
  line-height: 2rem;
  font-size: 0.7rem;
}

.mhr figure img {
  border-radius: 50%;
  height: 50vh;
  width: auto;
  filter: drop-shadow(0 0 1.5rem 3rem rgba(0, 0, 0, 0.3));

  outline: none;
}
.mhr figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.para2 {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .mhl {
    height: auto;
    margin: 5rem 0;
  }
  .mhr {
    height: auto;
    margin-top: 3rem;
  }
}
