
/* 
.bg--overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(14, 13, 13, 0.2);
  z-index: -1;
  position: fixed;
} */


nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
  
  font-weight: 900;
}

.nav-link {
  color: white;
}

.nav-link:hover{
  color: rgb(129, 115, 115);
}

.rem-item {
  margin-right: 30px;
  font-weight: bolder;
}
.last-item {
  font-weight: bolder;

  margin-right: 50px;
}
.navbar {
  padding-top: 10px;

  padding-bottom: 10px;

  box-shadow: 1px 1px 1px 1px #a9a1a1;
}
.navbar-toggler-icon{
 color: white !important;
 border-radius:2px solid rgb(180, 28, 28) !important;
}
.navbar-toggler{
  border:2px solid grey ;

}

.navbar-brand {
  color: aliceblue;
  margin-left: 20px;
}
.fa-sack-dollar {
  margin-right: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  align-items: center;

  /* border-radius: 0px 0px 40px 0px; */
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-body:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  /* background-image: url(../images/cool-background.png); */

  background-size: 150% 150%;
}

.mhl {
  height: 70vh;
  display: flex;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-shadow: 0.5rem 0.5rem 0.5rem rgba(21, 2, 2, 0.4);
}
.mhl h3 {
  font-size: 2rem;
}
.mhr {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.gosome {
  position: relative;
  border: none;
  background-color: aliceblue;

  padding: 0.8rem;
  color: rgb(0, 4, 8);
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px #000;
  outline: none;
  margin-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-bottom: 2rem;
}

.gosome:hover {
  box-shadow: 0 8px 6px -6px rgb(91, 91, 146);
}

.mhl .para2 {
  color: rgb(234, 222, 222);
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(21, 2, 2, 0.4);
  font-weight: bolder;
  font-size: 3rem;
  animation: VanishIn 5s;
  animation-delay: 0s;

}
span {
  font-family: 'Rajdhani', sans-serif;
  color: rgb(255, 0, 0);
font-weight: 1300 !important;
}

.box {
  border: 2px solid red;
  height: 40vh;
}
.fa-piggy-bank {
  font-size: 6rem;
}
.fa-users {
  font-size: 6rem;
}
.card-title {
  margin-bottom: 2rem;
  position: relative;
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(21, 2, 2, 0.4);

}
.fa-comments-dollar {
  font-size: 6rem;
}

.card-text {
  position: relative;
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(21, 2, 2, 0.4);

}
#footer {
  font-family: "lato";
  font-size: 3vw;
  text-align: center;  
  margin-top: auto;
}
#footer .container {
  width: 100%;
  margin-bottom: 0;
  /* position: fixed; */
}
#footer {
  display: flex;
  position: relative;
  background-color: #ffffff;
  padding: 3% 15%;
  bottom: 0;
}

.footer-text {
  color: #000000;
  margin-top: 0.7rem;
  font-size: 0.7rem;
}

.footer-img {
  margin: 0 0.5rem;
  color: black;
}

.features{
  margin-top: 3rem;
}

.head {
  display: flex;

  flex-direction: column;
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(21, 2, 2, 0.4);
  align-items: center;
}
.head h1{
  font-size:3rem;
}
.headin {
  font-weight: bold;
  font-size: 4rem !important;
  font-family: "Kaushan Script", cursive;
  text-align: center;
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(21, 2, 2, 0.4);
  /* background: whitesmoke; */
  padding: 10px 10px;
  /* color: black; */
  color: #fff;

  box-shadow: rgba(0, 0, 0, 0.25 ) 0px 14px 28px,
  rgba(0, 0, 0, 0.22) 0px 10px 10px;
  /* mix-blend-mode: screen !important; */
  /* background-color: darkcyan; */
  mix-blend-mode: multiply;
}
hr {
  opacity: 1 ;
  height:0px ;
  border: 1px solid rgb(245, 9, 9) ;
  animation-name: extend;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
  width: 20% ;
}

.section-2{
  padding-top:3rem;
  background-color: white !important;
}

@media (max-width: 768px) {
  .mhl {
    height: auto;
    margin: 5rem 0;
  }
  .mhr {
    height: auto;
    margin-top: 3rem;
  }
  
  
  .navbar-expand-lg .navbar-collapse {
    height: auto !important;
  }
}

  @keyframes VanishIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes extend {
    10% {
      width: 0.5rem;
    }
    100% {
      width: 40% !important;
    }
  }
  

header {
  display: grid;
  place-content: center;
  /* height: 100vh; */
  margin-top: 5rem;
}

#my-text {
  /* font-size: 7rem; */
  /* text-transform: uppercase; */
  /* font-family: 'Bebas Neue'; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  /* line-height: 5.9rem; */
}

.char {
  transform: translateY(115px);
  transition: transform .5s;
  transition-delay: 1.5s;
}
